:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--system-ui);
}

#root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  background-color: rgb(219, 217, 217);
  border-radius: 10px;
  user-select: none;
}

.card img {
  object-fit: cover;
  border: none;
}
