:root {
  --system-ui:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: var(--system-ui);
  background-color: #031717;
}

#root {
  display: flex;
  flex-direction: column;
}

.scoreboard {
  background-color: #3d062d;
  padding: 20px;
  color: #f3f4f4;
}

.cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 20px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;

  background-color: #2d1733;
  color: #fd1c6bd0;

  user-select: none;
  transition: transform 50ms ease-in-out;
}

.card:hover {
  transform: scale(1.05) rotate(2deg);
  cursor: pointer;
}

.card img {
  object-fit: cover;
  border: none;
}

@media (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
